<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <title>ROSIBRIX v2.0</title>
</head>

<body>

  <h1>ROSIBRIX v2.0</h1>

  <hr>

  <form action="/result" method="post">
    <p>Length:
      <input type="text" name="length" value="215.00"> Width:
      <input type="text" name="width" value="102.50"> </p>
    <p> Height:
      <input type="text" name="height" value="65.00"> Joint:
      <input type="text" name="joint" value="10.00"> </p>
    <p>Dimension:
      <input type="text" name="dimension">
      <input type="submit" value="Submit">
    </p>
  </form>

  <hr> {{if .Result}}
  <p> Length: {{.Length}} Width: {{.Width}} Height: {{.Height}} Joint: {{.Joint}}</p>

  <p>Dimension: {{.Dimension}}mm</p>
  <hr>

  <p>Whole bricks in dimension: {{.WholeBricks}} Remainder: {{.Remainder}}mm</p>

  {{if gt .WholeBricks 0}}

  <table class="table" style="float: left">
      <tr>
        <th class="col1" rowspan="3">Co-ordinating sizes for {{.Nfull}} bricks</th>
        <th class="col2">co +</th>
        <th class="col2l"> {{.FullCoPlus}}</th>
      </tr>
      <tr>
        <td class="col2">co</td>
        <td class="col2">{{.FullCo}}</td>
      </tr>
      <tr>
        <td class="col2">co -</td>
        <td class="col2">{{.FullCoMinus}}</td>
      </tr>
    </table>
  {{end}}
<img style="float:left" src="/img/10x10.png">
  <table class="table">
      <tr>
        <th class="col1" rowspan="3">Co-ordinating sizes for {{.Nhalf}} bricks</th>
        <th class="col2">co +</th>
        <th class="col2l">{{.HalfCoPlus}}</th>
      </tr>
      <tr>
        <td class="col2">co</td>
        <td class="col2">{{.HalfCo}}</td>
      </tr>
      <tr>
        <td class="col2">co -</td>
        <td class="col2">{{.HalfCoMinus}}</td>
      </tr>
    </table>

  {{end}}
 
  {{if .VerticalResult}}
  <hr>
  <p>Vertical courses in dimension: {{.Courses}} Remainder {{.CoursesRemainder}}mm</p>

 {{if gt .NfirstVertical 0}}

 <table class="table" style="float: left">
     <tr>
       <th class="col1" rowspan="3">Vertical Co-ordinating sizes for {{.NfirstVertical}} bricks</th>
       <th class="col2">co +</th>
       <th class="col2l"> {{.FirstVCoPlus}}</th>
     </tr>
     <tr>
       <td class="col2">co</td>
       <td class="col2">{{.FirstVCo}}</td>
     </tr>
     <tr>
       <td class="col2">co -</td>
       <td class="col2">{{.FirstVCoMinus}}</td>
     </tr>
   </table>
 {{end}}
 <img style="float:left" src="/img/10x10.png">

 <table class="table">
  <tr>
    <th class="col1" rowspan="3">Vertical Co-ordinating sizes for {{.NsecondVertical}} bricks</th>
    <th class="col2">co +</th>
    <th class="col2l">{{.SecondVCoPlus}}</th>
  </tr>
  <tr>
    <td class="col2">co</td>
    <td class="col2">{{.SecondVCo}}</td>
  </tr>
  <tr>
    <td class="col2">co -</td>
    <td class="col2">{{.SecondVCoMinus}}</td>
  </tr>
</table>
{{end}}

</body>

</html>

</body>

</html>